{% extends '::base.html.twig' %}



{% block flash %}
{% for flashMessage in app.session.flashbag.get('notice') %}
<div class="alert alert-success" role="alert">
  {{ flashMessage }} <i class="em em---1"></i>
</div>
{% endfor %}
{% endblock %}



{% block sidebar %}
<div class="container aa">
	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <a href={{ path('st_platform_add')}} class="btn btn-lg btn-primary center-block">Ajouter une figure</a>
    {% else %}
    <p>Connectez vous pour pouvoir ajouter ou modifier des figures <i class="em em-grin"></i></p>
    {% endif %}
</div>
{% endblock %}