{% extends '::base.html.twig' %}


{% block body %}
<div class="container text_align_center">
  <h2>Supprimer une figure</h2>

  <p>
    Etes-vous certain de vouloir supprimer la figure "{{ figure.nom }}" ?
  </p>

  {# On met l'id de l'annonce dans la route de l'action du formulaire #}
  <form action="{{ path('st_platform_supp', {'id': figure.id}) }}" method="post">
    <a href="{{ path('st_platform_figure', {'slug': figure.slug}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'annonce
    </a>
    {# Ici j'ai écrit le bouton de soumission à la main #}
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {# Ceci va générer le champ CSRF #}
    {{ form_rest(form) }}
  </form>
</div>
{% endblock %}